main{
 background-color: green;
}

.card{
    margin-top: 2rem;
    width: 25%;
    height: 25%;
    border: none;
    text-align: center;
    display: flex;
    background-color: green;

}

.portul{
    display: flex;
    flex-wrap: wrap;
    
}